<div>
  <div class="my-2 w-25">
    <app-select
      [title]="'Categories'"
      [data]="categories"
      (selectedValue)="filteredCategory($event)"
    ></app-select>
  </div>

  <div class="row" *ngIf="!loading">
    <div
      class="col-sm-8 col-md-6 col-lg-3 mb-3"
      *ngFor="let item of Products"  >
      <app-product [data]="item" (item)="addToCart($event)"></app-product>
    </div>
  </div>

  <div class="text-center w100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div>
