<div class="card mt-5">
  <div class="row g-0 justify-content-between" *ngIf="loading">
    <div class="col-md-4 ms-4 my-2">
      <img
        src="{{ data.image }}"
        class="img-fluid rounded-start"
        style="height: 450px"
        alt="..."
      />
    </div>
    <div class="col-md-7">
      <div class="card-body fs-2">
        <h1 class="card-title">Title: {{ data.title }}</h1>
        <p class="card-text">Category: {{ data.category }}</p>
        <p class="card-text">Rate: {{ data.rating.rate }}</p>
        <p class="card-text">Count: {{ data.rating.count }}</p>
        <p class="card-text">Price: {{ data.price }} LE</p>
      </div>
    </div>
  </div>
  <div class="text-center w100" *ngIf="!loading">
    <app-spinner></app-spinner>
  </div>
</div>
