<div class="container-fluid mt-5 mb-5">
  <div class="d-flex justify-content-center row">
    <h4>Shopping cart</h4>
    <div class="d-flex justify-content-between">
      <p>
        You have
        <label class="text-danger fw-bold">{{ cartProducts.length }}</label>
        item in your Card
      </p>
      <span class="text-danger p-2 bg-dark-subtle" (click)="clearData()"
        >Clear Shopping Card</span
      >
    </div>
    <div
      class="row align-items-center justify-content-between mb-4"
      *ngFor="let item of cartProducts; let i = index"
    >
      <div class="col-xs-12 text-center col-lg-3 p-0">
        <img
          class="rounded"
          src="{{ item.item.image }}"
          width="200"
          height="200"
        />
        <p class="text-center">Title: {{ item.item.title }}</p>
      </div>
      <div
        class="d-flex align-items-center col-md-4 mx-md-auto col-lg-3 w-lg-25"
      >
        <button class="btn btn-dark" (click)="addAmount(i)">+</button>
        <input
          class="form-control text-center"
          type="number"
          min="1"
          value="1"
          [(ngModel)]="item.quantity"
          (change)="detectChange()"
        />
        <button class="btn btn-dark" (click)="minsAmount(i)">-</button>
      </div>
      <div class="d-flex justify-content-around col-lg-4">
        <p class="fs-5">price: {{ item.item.price }} LE</p>
        <p class="fs-5">Total: {{ item.item.price * item.quantity }} LE</p>
      </div>
      <button
        class="btn btn-danger col-md-4 mx-auto col-lg-1"
        (click)="deleteProduct(i)"
      >
        Delete
      </button>
    </div>

    <hr />
    <div class="d-flex justify-content-end align-items-center">
      <p class="m-4 border p-2 fw-bold">Total: {{ total }}</p>
      <button class="btn btn-success" (click)="addCart()">Order Now</button>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="success">
      <strong>Well done</strong> Your order is successfully send
    </div>
  </div>
</div>
